#
# See https://docs.travis-ci.com/user/languages/php/
# See https://docs.travis-ci.com/user/database-setup/
#
# Note: To run tests on PHP 7.1 need to use PHPUnit 7.x
#       MySQL 5.7 is default on Ubuntu 16.04 (Xenial) and 18.04 (Bionic)
#       SQLite is bundled as PHP extension
#
dist: bionic

language: php

php:
  - 7.1
  # - 7.2
  # - 7.3

# Start provisioned database services
services:
  - mysql
  # - mongodb

# Available as addons
addons:
  # posgresql: '9.5'
  # mariadb: '10.2'

# Create build matrix exporting DB variable
env:
  - DB=mysql
  # - DB=pgsql
  # - DB=mariadb
  # - DB=sqlite
  # - DB=mongodb

before_script:
  - composer install --no-plugins
  - sh -c "if [ '$DB' = 'mysql' ] || [ '$DB' = 'mariadb' ]; then mysql -e 'CREATE DATABASE IF NOT EXISTS cockpitdb;'; fi"
  # - sh -c "if [ '$DB' = 'pgsql' ]; then psql -c 'DROP DATABASE IF EXISTS cockpitdb;' -U postgres; fi"
  # - sh -c "if [ '$DB' = 'pgsql' ]; then psql -c 'CREATE DATABASE cockpitdb;' -U postgres; fi"
  # - sh -c "if [ '$db' = 'mongodb' ]; then pecl install mongodb; fi"
  # - sh -c "if [ '$DB' = 'mongodb']; then mongo 'cockpitdb' --eval 'db.createUser({user:\"travis\",pwd:\"test\",roles:[\"readWrite\"]});'; fi"

# Run PHPUnit with current DB
script:
  - vendor/bin/phpunit --configuration tests/travis/$DB.phpunit.xml
