<?php
// Use cockpit config
// return require_once __DIR__ . '/../../../config/config.php';

// Provide database for tests
return [
    'database' => [
        'server' => 'sqldriver',
        'options' => [
            'connection' => 'mysql',
            'host'       => 'localhost',
            'port'       => '3306',
            'dbname'     => 'DATABASE_NAME',
            'username'   => 'USER',
            'password'   => 'PASSWORD',
        ]
    ]
];
